body{
	background: Lavender;
	color: CornflowerBlue;
	
}
.wrap{
    margin:0 auto;
}

h, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
html {
  background-color: AliceBlue;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: Lavender;
  padding: 0 20px 20px 20px;
  border: 5px DodgerBlue;
}
img {
  display: block;
  margin: 10 auto;
}
h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
}
h2 {
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
}
h3 {
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
}
p {
  font-family: serif;
  font-size: large;
  text-align: center;
}